extends layout

block content
	div(class='container text-center col-md-12')
		h1 Dashboard
		p You are now logged in.
		h3 It is [insert date/time object here]
		//- div(class='col-md-6')
		//- 	h2 User Information

	button <a href='/login'>Logout</a>