doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')    	
    script(src='/javascripts/main.js')
    footer Copyright Benjamin Downs, 2015	